/* HEADER */

header {
    height: var(--header-height);
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
    z-index: 100;
    background-image:linear-gradient(-180deg,#f53d2d,#f63);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}

.header__navbar-list {
    list-style: none;
    padding-left:0;
    margin-top: 4px 0 0 0;
}

.header__navbar-item {
    margin:0 8px;
    display:inline-block;
    font-size:1.4rem;
    color: var(--white-color);
    font-weight:300;
    position:relative;
    min-height: 26px;
}

.header__navbar-item-link {
    text-decoration: none;
    color: var(--white-color);
}

.header__navbar-item--strong a {
    font-weight:400;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    color: rgba(255,255,255,.7);
    cursor: pointer;
}

.header__navbar-item--separate::after {
    content:"";
    position: absolute;
    border-right: 1.8px solid hsla(0,0%,100%,.4);
    height: 1.6rem;
    right: -8px;
}

.header__navbar-icon {
    margin-left:5px;
    color: var(--white-color);
    font-size: 1.4rem;
    text-decoration: none;
}

.header__navbar-icon-right {
    margin-right: 5px;
}

.header__navbar-title-no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* HEADER QR CODE */

.header__navbar-list li:nth-child(3) {
    position:relative;
}

.header__navbar-list .header__qr {
    position:absolute;
    top: 100%;
    z-index: 100; 
    width: 18rem;
    margin-top: 1rem;
    background-color: var(--white-color);
    border: 1px solid #fff;
    border-radius: 4px;
    display:none;
    animation: fadeIn ease 1.5s;
}

.header__navbar-list li:nth-child(3):hover .header__qr {
    display:initial;
}

.header__qr-store {
    justify-content: space-between;
    padding: 0 1.5rem 0.5rem;
}

.header__qr::before {               /*tạo một cầu nối*/
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    display: block;
    top: -21px;
}

.header__qr img {
    width: 100%;
}

.header__qr-store .header__store-item {
    width: 7rem;
    margin-top: .5rem;
}

/* NOTIFICATIONS */

.header__notify {
    position:absolute;
    right:0;
    top:118%;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    transform-origin: calc(100% - 20px) 0%;
    animation: headerNotifyGrown ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::before {
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color)  transparent;
    position: absolute;
    right: 9px;
    top: -30px;
}

.header__notify::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    top: -26px;
}

.header__navbar-has-notify:hover .header__notify {
    display: block;
}

@keyframes headerNotifyGrown {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    margin: 0 0 0 12px;
}

.header__notify-header h3 {
    color: #999;
    margin-top:0;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 4rem;
    cursor:text;
}

.header__notify-list {
    padding-left: 0;
    list-style: none;
}

.header__notify-item--viewed {
    background-color: rgba(238,75,43,0.08);
}

.header__notify-item-link {
    display: flex;
    align-items:flex-start;
    padding: 12px;
    text-decoration: none;
}

.header__notify-item-link:hover {
    background-color: #f8f8f8;
}

.header__notify-item-img {
    width:4.8rem;
    object-fit: contain;
}

.header__notify-item-infor {
    margin-left: 12px;
}

.header__notify-item-name {
    font-size:1.4rem;
    font-weight: 400;
    color: var(--black-color);
    line-height:1.8rem;
}

.header__notify-item-infor p {
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.5rem;
}

.header__notify-footer {
    width: 100%;
    height: 4rem;
    background-color: #fcfcfc;
    color: rgba(0,0,0,.8);
    font-weight: 400;
    line-height:4rem;
    display: flex;
    justify-content: center;
}

/*  AUTHEN MODAL */
.auth-form {
    width: 500px;
    overflow:hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
}

.auth-form-header__left {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form-header__right {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline:none;
}

.auth-form__input:focus {
    border-color:#777;
}

.auth-form__aside {
    margin-top: 20px;
    padding: 0 12px;
    font-size: 1.2rem;
    text-align: center;
    line-height:1.8rem;
}

.auth-form__policy-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top:80px;
    display: flex;
    justify-content: flex-end;
}

.btn__back {
    margin-right: 8px;
}

.auth-form__socials {
    margin-top: 24px;
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
}

.auth-form__socials i {
    font-size: 1.8rem;
}

.auth-form__socials a {
    padding: 0 8px;
}

.auth-form__socials a:first-child {
    color: var(--white-color);
    background-color: #3A5A98 ;
}

.auth-form__socials a span {
    margin: 0 36px;
}

.auth-form__socials a:last-child {
    background-color: var(--white-color);
    color: #666;
}

/*********** SIGN IN FORM ***********/

/* AUTH FORM HELP */

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help span {
    display: block;
    height: 16px;
    margin: 1px 16px 0;
    border-left: 2px solid var(--border-color);
}

.auth-form__help a:first-child {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__help a:last-child {
    color: #939393;
    text-decoration: none;
}

/* HEADER WITH SEARCH */

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
    fill: var(--white-color);
}

.header__search {
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-icon {
    margin-top: 6px;
    color: var(--white-color);
    font-size: 2.6rem;
}

